# ====================================
# Python
# ====================================
# виртуальное окружение
venv/
# байт-код и кеши
__pycache__/
*.py[cod]
# файлы окружения
.env
# папки сборок пакетов
build/
dist/
*.egg-info/
.eggs/

# ====================================
# Node / Frontend
# ====================================
# зависимости
frontend/node_modules/
# папка сборки Vite
frontend/dist/
# служебные файлы lock-менеджеров
package-lock.json
pnpm-lock.yaml
yarn.lock
# Vite cache
.vite/
# typescript
*.tsbuildinfo

# ====================================
# Docker
# ====================================
# тома, образы и временные файлы
docker-compose.override.yml
**/docker-compose.override.yml
# (если не хотите коммитить образы или тому подобное)

# ====================================
# IDE / OS-specific
# ====================================
.vscode/
.idea/
*.suo
*.ntvs*
*.orig
.DS_Store
Thumbs.db

# ====================================
# Логи, временные файлы
# ====================================
*.log
npm-debug.log*
yarn-debug.log*
debug.log*
*.tmp
